@model AddNewUserViewModel

@{
    ViewBag.Title = "Add New User";
}
    
<a asp-action="ViewUserList" asp-controller="Admin" class="btn btn-danger">Back</a>

<h2 class="text-center">Add New User</h2>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <!--User Information-->
            <div class="card m-1">
                <div class="card-header bg-danger text-light">User Information</div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="UserType"></label>
                            <select asp-for="UserType" class="form-control">
                                <option class="form-control" value="@AppConstant.BUS_OPERATOR" selected>@AppConstant.BUS_OPERATOR</option>
                                <option class="form-control" value="@AppConstant.ADMIN">@AppConstant.ADMIN</option>
                            </select>
                            <span asp-validation-for="UserType" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="DateOfBirth"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <div class="input-group">
                                @foreach (var item in AppConstant.GenderList)
                                {
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input id="@item.Key" asp-for="Gender" name="Gender" class="custom-control-input" type="radio" value="@item.Key" />
                                        <label for="@item.Key" class="custom-control-label"> @item.Value</label>
                                    </div>
                                }
                            </div>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Employee's Account Information-->
            <div class="card m-1">
                <div class="card-header bg-danger text-light">Employee's Account Information</div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="Salary"></label>
                            <input asp-for="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="DateOfJoining"></label>
                            <input asp-for="DateOfJoining" class="form-control" />
                            <span asp-validation-for="DateOfJoining" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Login Credentials-->
            <div class="card m-1">
                <div class="card-header bg-danger text-light">Login Credentials</div>
                <div class="card-body bg-light">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-danger">Add User</button>
            </div>
        </form>
    </div>
</div>