@model List<UserRoleViewModel>

@{ 
    ViewBag.Title = "Edit Users In Role";
}

<a asp-action="EditRole" asp-route-id="@ViewBag.roleId" asp-controller="Admin" style="width:auto" class="btn btn-danger">
    Back
</a>

<h2 class="text-center">Add or Remove users from @ViewBag.roleName role</h2>

<form method="post">
    <div class="card">
        <div class="card-header bg-danger text-light">
            User List
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].DisplayName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">
                        @Model[i].DisplayName
                    </label>
                </div>
            }
        </div>
    </div>
	<div class="text-center mt-3">
		<input type="submit" value="Update" class="btn btn-danger" style="width:auto"/>
	</div>	
</form>