@model List<BusBookingListViewModel>

@{
    ViewBag.Title = "View Booking List";
}

<h2 class="text-center mt-3">@ViewBag.BusName Bus</h2>
<h4 class="text-center">@ViewBag.RouteSequence</h4>
<h5 class="text-center">@ViewBag.BusTime</h5>
<hr class="bg-danger" />

<div class="text-light mb-3">
    <a asp-action="ViewPassengerCheckList" asp-controller="BusOperator" class="btn btn-danger">View Passenger Check List</a>
</div>

<!--Booked Passenger Info List-->
@if (Model.Count > 0)
{
    <div class="text-center mb-3"><h5>Upcoming Passengers' List</h5></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Seat No.</th>
                <th>Passenger Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Source</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            @for (int id = 0; id < Model.Count; id++)
            {
                <tr>
                    <td>@Model[id].Passenger.PSeatNo</td>
                    <td>@Model[id].Passenger.PName</td>
                    <td>@Model[id].Passenger.PGender</td>
                    <td>@Model[id].Passenger.PAge</td>
                    <td>@Model[id].Source</td>
                    <td>@Model[id].Destination</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header text-danger">
            Booking List is empty
        </div>
    </div>
}

